.finish-order-page {
    .set-label-text-area {
        color: #000000 !important;
        margin: 5px 0 !important;
        font-weight: bold;
        font-size: 18pt;
        opacity: 1 !important;
    }
}